<!-- PAGE CONTENT -->
<p class="lead"><span class="dropcap dropcap-big">T</span>raining junior researchers from the US and Africa to conduct integrative research in infectious disease dynamics and to communicate their questions, methods, and findings across disciplinary boundaries.</p>
<hr>
<div class="page-content">
			<div class="container">
				<section>
					<div class="row">
						<div class="col-md-7">
							<p>Mathematics and simulation are essential tools in infectious disease control, enabling decision-makers to explore control policies before implementing them, interpret trends, and predict emerging threats. The ICI3D Program provides intensive training in these methods to students and researchers from Africa and North America and aims to cultivate an international network of researchers from diverse backgrounds. The program comprises two distinct but overlapping International Clinics on Infectious Disease Dynamics and Data and a complementary research scholars exchange program. Promising young researchers are given repeated opportunities to interact with the Core Faculty, and we have created a pipeline for participants to gain successively more instructional responsibility, progressing from participants to mentors to Workshop Faculty.</p>
							<p>The ICI3D Core Faculty have worked together to run annual international workshops on meaningful epidemiological modeling since 2009. The full ICI3D Program was launched in 2012 with funding from the National Institute of General Medical Sciences (R25GM102149).</p>
						</div>
						<div class="col-md-5">
							<div class="featured-video">
								<img src="assets/img/MMED2015_tutorials.jpg" width="90%"></iframe>
							</div>
						</div>
					</div>
					<br>
					<hr>
				</section>
				<h2 class="section-heading">PROGRAM DIRECTORS</h2>
				<!-- TEAM -->
				<section class="team">
					<div class="section-content">
						<div class="col-md-5">
							<div class="team-member media">
								<img src="assets/img/team/bellan.jpg" class="media-object img-circle pull-left" alt="Steve Bellan" height="120" />
								<div class="media-body">
									<h3 class="media-heading team-name">Steve Bellan</h3>
									<strong>Program Director</strong>
									<hr class="pull-left">
									<div class="clearfix"></div>
									<p>Steve is an Assistant Professor of Epidemiology and Biostatistics at the University of Georgia. He has been on the ICI3D Core Faculty since the program started in 2012 and took over as Program Director in 2016.</p>
									<ul class="list-inline social-icon">
										<li><a href="https://twitter.com/lechaquel"><i class="fa fa-twitter"></i></a></li>
										<li><a href="https://www.linkedin.com/in/steven-bellan-36536229"><i class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-5 col-md-offset-2">
							<div class="team-member media">
								<img src="assets/img/team/pulliam.jpg" class="media-object img-circle pull-left" alt="Juliet Pulliam" height="120" />
								<div class="media-body">
									<h3 class="media-heading team-name">Juliet Pulliam</h3>
									<strong>Program Director for Africa</strong>
									<hr class="pull-left">
									<div class="clearfix"></div>
									<p>Juliet is the Director of the South African Centre for Epidemiological Modelling and Analysis (SACEMA) and Associate Professor of Mathematics at Stellenbosch University. She served as Program Director from 2012-2016.</p>
									<ul class="list-inline social-icon">
										<li><a href="https://twitter.com/SACEMAdirector"><i class="fa fa-twitter"></i></a></li>
										<li><a href="https://za.linkedin.com/in/julietpulliam"><i class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						</div>
					</div>
				</section>
				<!-- END TEAM -->
