<br>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Contact</h3>
      </div>
      <div class="panel-body">
        For questions or assistance, please contact us at <a href="mailto:ici3d@epi.ufl.edu?Subject=Email%20from%20ici3d.org" target="_top" title="For questions or assistance, please email us!">ici3d@epi.ufl.edu</a>. You can also <a href="{{ site.absoluteurl }}{{ site.baseurl }}/people/" title="Faculty and Staff">follow this link</a> for a list of ICI3D Program faculty and staff.</p>
      </div>
    </div>
  </div><!-- /.col-sm-12 -->
</div>
