<!-- CALL-TO-ACTION -->
<section class="call-to-action">
  <div class="container">
    <div class="pull-left">
      <h2 class="section-heading">Have questions or need assistance?</h2>
    </div>
    <div class="pull-right">
      <a href="mailto:admin@ici3d.org?Subject=Email%20from%20ici3d.org" class="btn btn-lg btn-primary btn-rounded-3x" title="Email the ICI3D Program Assistant"><i class="fa fa-envelope-o"></i>  Click here to send us an email!</a>
    </div>
  </div>
</section>
<!-- END CALL-TO-ACTION -->
