<h2 class="section-heading">PROGRAM DIRECTORS</h2>
				<!-- TEAM -->
				<section class="team">
					<div class="section-content">
						<div class="col-md-5">
							<div class="team-member media">
								<img src="assets/img/team/dushoff.jpg" class="media-object img-circle pull-left" alt="Jonathan Dushoff" height="120" />
								<div class="media-body">
									<h3 class="media-heading team-name">Jonathan Dushoff</h3>
									<strong>Program Director for North America</strong>
									<hr class="pull-left">
									<div class="clearfix"></div>
									<p>Jonathan is a Professor of Biology in the Department of Biology and Department of Mathematics and Statistics at McMaster University. He has been on the ICI3D Core Faculty since the program started in 2012. He became Program Director for North America in 2018 and is currently Co-Director of the ICI3D Program.</p>
									<ul class="list-inline social-icon">
                    <li><a href="https://scholar.google.com/citations?user=yVwAcxMAAAAJ"><i class="ai ai-google-scholar"></i></a></li>
										<li><a href="https://twitter.com/jd_mathbio"><i class="fa fa-twitter"></i></a></li>
										<li><a href="https://www.linkedin.com/in/jonathan-dushoff-5885764"><i class="fa fa-linkedin"></i></a></li>
										<li><a href="https://orcid.org/0000-0003-0506-4794"><i class="ai ai-orcid"></i></a></li>
										<li><a href="https://github.com/dushoff"><i class="fa fa-github"></i></a></li>
										<li><a href="https://mac-theobio.github.io/dushoff.html"><i class="fa fa-globe"></i></a></li>
									</ul>
							</div><!-- media-body -->
						</div><!-- team-member media -->
					</div><!-- col-md-5 -->
						<div class="col-md-5 col-md-offset-2">
							<div class="team-member media">
								<img src="assets/img/team/pulliam.jpg" class="media-object img-circle pull-left" alt="Juliet Pulliam" height="120" />
								<div class="media-body">
									<h3 class="media-heading team-name">Juliet Pulliam</h3>
									<strong>Program Director for Africa</strong>
									<hr class="pull-left">
									<div class="clearfix"></div>
									<p>Juliet is the Director of the South African Centre for Epidemiological Modelling and Analysis (SACEMA) and Professor of Applied Mathematics at Stellenbosch University. She served as Program Director from 2012-2016 and Program Director for Africa from 2016 (to present). She is currently Co-Director of the ICI3D Program.</p>
									<ul class="list-inline social-icon">
                    <li><a href="https://scholar.google.com/citations?user=N9CMMiQAAAAJ"><i class="ai ai-google-scholar"></i></a></li>
										<li><a href="https://twitter.com/SACEMAdirector"><i class="fa fa-twitter"></i></a></li>
										<li><a href="https://za.linkedin.com/in/julietpulliam"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="http://orcid.org/0000-0003-3314-8223"><i class="ai ai-orcid"></i></a></li>
                    <li><a href="https://impactstory.org/u/SACEMAdirector"><i class="ai ai-impactstory"></i></a></li>
										<li><a href="https://github.com/jrcpulliam"><i class="fa fa-github"></i></a></li>
									</ul>
							</div><!-- media-body -->
						</div><!-- team-member media -->
					</div><!-- col-md-5 col-md-offset-2 -->
				</div><!-- section-content -->
			</section><!-- team -->
			<!-- END TEAM -->
