<h2 class="section-heading">PROGRAM DIRECTORS</h2>
				<!-- TEAM -->
				<section class="team">
					<div class="section-content">
						<div class="col-md-5">
							<div class="team-member media">
								<img src="assets/img/team/bellan.jpg" class="media-object img-circle pull-left" alt="Steve Bellan" height="120" />
								<div class="media-body">
									<h3 class="media-heading team-name">Steve Bellan</h3>
									<strong>Program Director</strong>
									<hr class="pull-left">
									<div class="clearfix"></div>
									<p>Steve is an Assistant Professor of Epidemiology and Biostatistics at the University of Georgia. He has been on the ICI3D Core Faculty since the program started in 2012 and took over as Program Director in 2016.</p>
									<ul class="list-inline social-icon">
                    <li><a href="https://scholar.google.com/citations?user=LVbjeXEAAAAJ"><i class="ai ai-google-scholar"></i></a></li>
										<li><a href="https://twitter.com/lechaquel"><i class="fa fa-twitter"></i></a></li>
										<li><a href="https://www.linkedin.com/in/steven-bellan-36536229"><i class="fa fa-linkedin"></i></a></li>
										<li><a href="http://orcid.org/0000-0002-4110-272X"><i class="ai ai-orcid"></i></a></li>
										<li><a href="https://github.com/sbellan61"><i class="fa fa-github"></i></a></li>
										<li><a href="http://bellanlab.uga.edu"><i class="fa fa-globe"></i></a></li>
									</ul>
							</div><!-- media-body -->
						</div><!-- team-member media -->
					</div><!-- col-md-5 -->
						<div class="col-md-5 col-md-offset-2">
							<div class="team-member media">
								<img src="assets/img/team/pulliam.jpg" class="media-object img-circle pull-left" alt="Juliet Pulliam" height="120" />
								<div class="media-body">
									<h3 class="media-heading team-name">Juliet Pulliam</h3>
									<strong>Program Director for Africa</strong>
									<hr class="pull-left">
									<div class="clearfix"></div>
									<p>Juliet is the Director of the South African Centre for Epidemiological Modelling and Analysis (SACEMA) and Associate Professor of Mathematics at Stellenbosch University. She served as Program Director from 2012-2016.</p>
									<ul class="list-inline social-icon">
                    <li><a href="https://scholar.google.com/citations?user=N9CMMiQAAAAJ"><i class="ai ai-google-scholar"></i></a></li>
										<li><a href="https://twitter.com/SACEMAdirector"><i class="fa fa-twitter"></i></a></li>
										<li><a href="https://za.linkedin.com/in/julietpulliam"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="http://orcid.org/0000-0003-3314-8223"><i class="ai ai-orcid"></i></a></li>
                    <li><a href="https://impactstory.org/u/SACEMAdirector"><i class="ai ai-impactstory"></i></a></li>
										<li><a href="https://github.com/jrcpulliam"><i class="fa fa-github"></i></a></li>
									</ul>
							</div><!-- media-body -->
						</div><!-- team-member media -->
					</div><!-- col-md-5 col-md-offset-2 -->
				</div><!-- section-content -->
			</section><!-- team -->
			<!-- END TEAM -->
