<!-- FOOTER -->
<footer class="footer-minimal text-center">
  <div class="container">
    <h5 class="text-muted">
    The ICI3D program is supported by the <a href="http://www.nigms.nih.gov/" alt="NIGMS">National Institute of General Medical Sciences</a> of the National Institutes of Health under award number R25GM102149.
  </h5>
    <br>
    <ul class="list-inline social-icons light-icons margin-bottom-30px">
      <li><a href="https://www.facebook.com/groups/206225166162804/" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
      <li><a href="https://twitter.com/ICI3D" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://plus.google.com/communities/113435488727938001751" class="googleplus-bg"><i class="fa fa-google-plus"></i></a></li>
      <li><a href="#" class="rss-bg"><i class="fa fa-rss"></i></a></li>
    </ul>
    <div class="copyright">
      &copy;2015 The Develovers. All Rights Reserved.
    </div>
  </div>
</footer>
<!-- END FOOTER -->
