<!-- FOOTER -->
<footer class="footer-minimal text-center">
  <div class="container">
    <h5 class="text-white">
     {%if page.title == "DAIDD"%}
        Support for DAIDD 2026 is provided by the European Union under the Global Health EDCTP3 Joint Undertaking (Grant Agreement no. 101249130). Views and opinions expressed are, however, those of the author(s) only and do not necessarily reflect those of the European Union, the Global Health EDCTP3 Joint Undertaking, nor its members. Neither the European Union nor the granting authority can be held responsible for them.
     {%else%}
        The ICI3D program is currently funded by the European Union under the Global Health EDCTP3 Joint Undertaking (Grant Agreement no. 101249130). Views and opinions expressed are, however, those of the author(s) only and do not necessarily reflect those of the European Union, the Global Health EDCTP3 Joint Undertaking, nor its members. Neither the European Union nor the granting authority can be held responsible for them. The ICI3D program was developed with funding from the National Institute of General Medical Sciences of the National Institutes of Health under award number R25GM102149.
     {%endif%}
  </h5>
    <br>
    <ul class="list-inline social-icons light-icons margin-bottom-30px">
      <li><a href="https://www.facebook.com/groups/206225166162804/" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
      <li><a href="https://twitter.com/ICI3D" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://plus.google.com/communities/113435488727938001751" class="googleplus-bg"><i class="fa fa-google-plus"></i></a></li>
      <li><a href="https://www.ncbi.nlm.nih.gov/sites/myncbi/juliet.pulliam.1/collections/50120905/public/" class="pubmed-bg" alt="PubMed"><i class="ai ai-pubmed"></i></a></li>
    </ul>
    <div class="copyright">
      &copy;2016-{{site.year}} The ICI3D Program. All Rights Reserved.
    </div>
  </div>
</footer>
<!-- END FOOTER -->
