<!-- BREADCRUMBS -->
<div class="page-header has-intro">
  <div class="container">
    <div class="left pull-left">
      <h1 class="page-title">{{ page.longtitle }}</h1>
      <p class="page-header-intro">{{ page.summary }}</p>
    </div>
    <ol class="breadcrumb link-accent">
      <li><a href="{{ site.absoluteurl }}">Home</a></li>
      <li><a href="{{ site.url }}/programs/">{{ page.tab }}</a></li>
      {% if page.parent contains "" %} <li><a href=""{{ site.url }}/{{ page.parent }}/"">{{ page.parent }}</a></li> {% endif %}
      <li class="active">{{ page.title }}</li>
    </ol>
  </div>
</div>
<!-- END BREADCRUMBS -->
