<!-- BREADCRUMBS -->
<div class="page-header {% if page.tab != "About" %}has-intro{% endif %}">
  <div class="container">
    <div class="left pull-left">
      <h1 class="page-title">{{ page.longtitle }}</h1>
      {% if page.summary contains "" %}
        <p class="page-header-intro">{{ page.summary }}</p>
      {% endif %}
      <h1 class="page-title">{{ site.longtitle }}</h1>
      {% if site.summary contains "" %}
        <p class="page-header-intro">{{ site.summary }}</p>
      {% endif %}
    </div>
    <ol class="breadcrumb link-accent">
      {% unless site.title contains "D" %}
      <li><a href="{{ site.absoluteurl }}">Home</a></li>
      {% endunless %}
      {% if page.tab != page.title %}
        <li><a href="{{ site.url }}{{ site.baseurl }}/{{ page.tab | downcase }}/">{{ page.tab }}</a></li>
      {% endif %}
      {% if page.parent contains "" %}
        <li><a href="{{ site.url }}{{ site.baseurl }}/{{ page.parent }}"/>{{ page.parent }}</a></li>
      {% endif %}
      <li class="active">{{ page.title }}</li>
    </ol>
    {% if page.title == 'Shadow' %}
      <img src="{{site.url}}{{site.path}}/assets/img/8hearts.png" alt="" title="Eight of Hearts"  style="margin:0px; display: block; width : 5%; border-radius: 0px"/>
    {% endif %}
  </div>
</div>
<!-- END BREADCRUMBS -->
