<!-- HERO SECTION -->
<section class="hero-unit-fullscreen">
  <div class="overlay"></div>
  <div class="container">
    <div class="left">
      <h2 class="hero-heading">ICI3D</h2>
      <p class="lead">International Clinics on Infectious Diseases Dynamics and Data</p>
      <span class="scroll-down"><a href="#about" class="btn btn-lg hero-button">LEARN MORE</a></span>
    </div>
  </div>
  <div class="scroll-down down-arrow">
    <a href="#about"><i class="fa fa-angle-down"></i></a>
  </div>
</section>
<!-- END HERO SECTION -->
