<!-- HERO SECTION -->
<section class="hero-unit-fullscreen">
  <div class="overlay"></div>
  <div class="container" top=-40%>
    <div class="left">
      <img src="{{site.url}}/assets/img/logo/ici3d-logo-white_v3.png" alt="International Clinics on Infectious Disease Dynamics and Data" width=40%/>
      <p class="lead">{{page.subtitle}}</p>
    </div>
  </div>
  <div class="scroll-down down-arrow">
    <a href="#mission"><i class="fa fa-angle-down"></i></a>
  </div>
</section>
<!-- END HERO SECTION -->
