<!-- NAVBAR -->
{% if page.layout == 'main' %}
<nav class="navbar navbar-default navbar-transparent " role="navigation">
{% else %}
<nav class="navbar navbar-default " role="navigation">
{% endif %}
  <div class="container">
    {% unless page.layout == "main" %}
    <div class="row">
      <div class="col-lg-3">
          <img src="{{ site.url }}{{ site.path }}/assets/img/logo/ici3d-logo-nav.png"  alt="International Clinics on Infectious Disease Dynamics and Data" width="80%" />
      </div>
      <div class="col-lg-9">
    <!-- TOPBAR -->
    <div class="topbar">
      {% if page.layout == 'future' %}
      <!--ul class="list-inline top-nav">
        <li>
          <div class="btn-group">
            <button type="button" class="btn btn-link dropdown-toggle btn-xs" data-toggle="dropdown"><img src="{{ site.url }}{{ site.path }}/assets/img/flags/United-States.png" alt="United States"> United States <span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right country-selector" role="menu">
              <li>
                <a href="#"><img src="{{ site.url }}{{ site.path }}/assets/img/flags/United-States.png" alt="United States"> United States</a>
              </li>
              <li>
                <a href="#"><img src="{{ site.url }}{{ site.path }}/assets/img/flags/South-Africa.png" alt="South Africa"> South Africa</a>
              </li>
            </ul>
          </div>
        </li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Support</a></li>
      </ul>
      <div class="searchbox">
        <form method="post">
          <div class="input-group input-group-sm">
            <input type="text" class="form-control" placeholder="search ...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
            </span>
          </div>
        </form>
      </div-->
      {% else %}
      <h4 style='color: #15378a'>
        International Clinics on Infectious Disease Dynamics and Data Program
      </h4>
      {% endif %}
    </div>
    <!-- END TOPBAR -->
    {% endunless %}
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
        <span class="sr-only">Toggle Navigation</span>
        <i class="fa fa-bars"></i>
      </button>
    </div>
    {% include navStructure.html %}
    {% unless page.layout == "main" %}
  </div>
</div>
    {% endunless %}
  </div>
</nav>
<!-- END NAVBAR -->
