<!-- MAIN NAVIGATION -->
<div id="main-nav" class="navbar-collapse collapse navbar-mega-menu">
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown {% if page.tab == 'Home' %}active{%endif%}">
      <a href="{{ site.absoluteurl }}{{ site.baseurl }}/" class="dropdown-toggle">HOME </a>
    </li>
    <li class="dropdown {% if page.tab == 'Programs' %}active{%endif%}">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">PROGRAMS <i class="fa fa-angle-down"></i></a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="{{ site.absoluteurl }}{{ site.baseurl }}/mmed">MMED</a></li>
        <li><a href="{{ site.absoluteurl }}{{ site.baseurl }}/daidd">DAIDD</a></li>
        <li class="dropdown ">
          <a href="#">I3D<i class="fa fa-angle-right"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ site.absoluteurl }}{{ site.baseurl }}/i3d">Exchange Scholars</a></li>
            <li><a href="{{ site.absoluteurl }}{{ site.baseurl }}/paww">PaWW</a></li>
            <li><a href="{{ site.absoluteurl }}{{ site.baseurl }}/p_and_p">P & P</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="dropdown {% if page.tab == 'Outputs' %}active{%endif%}">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">OUTPUTS <i class="fa fa-angle-down"></i></a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="{{ site.absoluteurl }}{{ site.baseurl }}/publications">Publications</a></li>
        <li class="dropdown ">
          <a href="#">Resources<i class="fa fa-angle-right"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ site.absoluteurl }}{{ site.baseurl }}/tutorials">Tutorials</a></li>
            <li><a href="{{ site.absoluteurl }}{{ site.baseurl }}/exercises">Exercises</a></li>
            <li><a href="{{ site.absoluteurl }}{{ site.baseurl }}/presentations">Presentations</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="dropdown {% if page.tab == 'People' %}active{%endif%}">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">PEOPLE<i class="fa fa-angle-down"></i></a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="{{ site.absoluteurl }}{{ site.baseurl }}/people/faculty">Program Faculty</a></li>
        <li><a href="{{ site.absoluteurl }}{{ site.baseurl }}/people/staff">Program Staff</a></li>
        <li><a href="{{ site.absoluteurl }}{{ site.baseurl }}/people/scholars">I3D Exchange Scholars</a></li>
      </ul>
    </li>
  </ul>
</div>
<!-- END MAIN NAVIGATION -->
