<!-- MAIN NAVIGATION -->
<div id="main-nav" class="navbar-collapse collapse navbar-mega-menu">
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown {% if page.tab == 'Home' %}active{%endif%}">
      <a href="{{ site.absoluteurl }}/" class="dropdown-toggle" {% if page.tab == 'Home' %}data-toggle="dropdown"{%endif%}>HOME {% if page.tab == 'Home' %}<i class="fa fa-angle-down"></i>{%endif%}</a>
      {% if page.tab == 'Home' %}
      <ul class="dropdown-menu" role="menu">
        <li><a href="{{ site.absoluteurl }}/about">About</a></li>
        <li><a href="{{ site.absoluteurl }}/#partners">Partners</a></li>
      </ul>
      {%endif%}
    </li>
    <li class="dropdown {% if page.tab == 'Programs' %}active{%endif%}">
      <a href="{{ site.absoluteurl }}/programs/" class="dropdown-toggle" data-toggle="dropdown">PROGRAMS <i class="fa fa-angle-down"></i></a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="{{ site.absoluteurl }}/mmed">MMED clinic</a></li>
        <li><a href="{{ site.absoluteurl }}/daidd">DAIDD clinic</a></li>
        <li><a href="{{ site.absoluteurl }}/seams">SEAMS clinic</a></li>
        <li><a href="{{ site.absoluteurl }}/i3d">I3D exchange</a></li>
      </ul>
    </li>
    <li class="dropdown {% if page.tab == 'People' %}active{%endif%}">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">PEOPLE<i class="fa fa-angle-down"></i></a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="{{ site.absoluteurl }}/people/faculty">Program Faculty</a></li>
        <li><a href="{{ site.absoluteurl }}/people/staff">Program Staff</a></li>
        <li><a href="{{ site.absoluteurl }}/people/scholars">I3D Exchange Scholars</a></li>
      </ul>
    </li>
    <li class="dropdown {% if page.tab == 'Publications' %}active{%endif%}">
      <a href="{{ site.absoluteurl }}/publications" class="dropdown-toggle">PUBLICATIONS</a>
    </li>
    <li class="dropdown mega-menu">
        <a href="#" data-toggle="dropdown">MORE <i class="fa fa-angle-down"></i></a>
        <ul class="dropdown-menu mega-menu-container">
          <li>
            <div class="mega-menu-content">
              <div class="row">
                <div class="col-md-4">
                  <h5 class="menu-heading">Resources</h5>
                  <ul class="list-unstyled list-menu">
                    <li><a href="{{ site.absoluteurl }}/tutorials"><i class="fa fa-laptop"></i> Tutorials</a></li>
                    <!--li><a href="{{ site.absoluteurl }}/exercises"><i class="fa fa-cogs"></i> Exercises <span class="label label-success label-main-nav">Coming soon!</span></a></li-->
                    <li><a href="{{ site.absoluteurl }}/presentations"><i class="fa fa-pie-chart"></i> Presentations</a></li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <h5 class="menu-heading">Archives</h5>
                  <ul class="list-unstyled list-menu">
                    <li><a href="{{ site.absoluteurl }}/MMED"><i class="fa fa-link"></i> MMED</a></li>
                    <li><a href="{{ site.absoluteurl }}/DAIDD"><i class="fa fa-link"></i> DAIDD</a></li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <h5 class="menu-heading">For alumni</h5>
                  <ul class="list-unstyled list-menu">
                    <!--li><a href="http://forum.ici3d.org/"><i class="fa fa-group"></i> ICI3D Community Forum <span class="label label-success label-main-nav">Coming soon!</span></a></li>
                    <li><a href="{{ site.absoluteurl }}/paww"><i class="fa fa-pencil-square"></i> PaWW</a></li-->
                    <li><a href="{{ site.absoluteurl }}/p_and_p"><i class="fa fa-bar-chart"></i>P &amp; P</a></li>
                    <li><a href="https://github.com/ICI3D/"><i class="fa fa-github-alt"></i>ICI3D on GitHub</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </li>
  </ul>
</div>
<!-- END MAIN NAVIGATION -->
