<!-- OUTPUTS (TESTIMONIAL) -->
<section class="testimonial slick-carousel" id="outputs">
  <div class="heading-center">
    <h2 class="section-heading">RECENT OUTPUTS</h2>
    <p class="lead">Publications, presentations, &amp; other products</p>
    <hr>
  </div>
  <div class="container testimonial-container">
    <div class="testimonial-body">
      <p>Reevaluating cumulative HIV-1 viral load as a prognostic predictor: predicting opportunistic infection incidence and mortality in a Ugandan cohort. <span><a href="#">[PDF]</a></span></p>
      <div class="testimonial-author">
        <img src="assets/img/user2.png" alt="Author" class="pull-left">
        <span><span class="author-name">JB Sempa et al. 2016</span> <em>The American Journal of Epidemiology</em></span>
      </div>
    </div>
    <div class="testimonial-body">
      <p>Credibly pontificate team building alignments rather than diverse quality vectors. Monotonectally benchmark business communities for distinctive mindshare.</p>
      <div class="testimonial-author">
        <img src="assets/img/user1.png" alt="Author" class="pull-left">
        <span><span class="author-name">Michael</span> <em>General Manager of DreamCorp</em></span>
      </div>
    </div>
    <div class="testimonial-body">
      <p>Appropriately morph low-risk high-yield process improvements through progressive partnerships. Uniquely brand enabled. Globally network timely imperatives without plug-and-play schemas. Globally coordinate economically sound interfaces.</p>
      <div class="testimonial-author">
        <img src="assets/img/user5.png" alt="Author" class="pull-left">
        <span><span class="author-name">Palmer</span> <em>Freelance Web Developer</em></span>
      </div>
    </div>
  </div>
</section>
<!-- END OUTPUTS -->
