<!-- OUTPUTS (TESTIMONIAL) -->
<section class="testimonial slick-carousel" id="outputs">
  <div class="heading-center">
    <h2 class="section-heading">EXAMPLE OUTPUTS</h2>
    <p class="lead">Publications, presentations, &amp; other products</p>
    <hr>
  </div>
  <div class="container testimonial-container">
    <div class="testimonial-body">
      <p>Reevaluating cumulative HIV-1 viral load as a prognostic predictor: predicting opportunistic infection incidence and mortality in a Ugandan cohort. <span><a href="http://aje.oxfordjournals.org/cgi/reprint/kwv303?ijkey=KxcBzzl10c7eRVS&keytype=ref" title="Sempa et al 2016">[PDF]</a></span></p>
      <div class="testimonial-author">
        <img src="{{site.url}}/assets/img/participants/SempaJB.jpg" alt="I3D Exchange Scholar Joseph Sempa" class="pull-left">
        <span><span class="author-name">JB Sempa et al. 2016</span> <em>American Journal of Epidemiology</em></span>
      </div>
    </div>
    <div class="testimonial-body">
      <p>Cost-effectiveness of post-treatment follow-up examinations and secondary prevention of tuberculosis in a high-incidence setting – a model-based analysis. <span><a href="https://doi.org/10.1016/S2214-109X(20)30227-8" title="Marx et al 2020">[link]</a></span><br></p>
      <div class="testimonial-author">
        <img src="{{site.url}}/assets/img/scholars/marx.jpg" alt="Florian Marx" class="pull-left">
        <span><span class="author-name">F Marx et al. 2020</span> <em>The Lancet Global Health</em></span>
      </div>
    </div>
    <div class="testimonial-body">
      <p>Partner age differences and associated sexual risk behaviours among adolescent girls and young women in a cash transfer programme for schooling in Malawi. <span><a href="https://doi.org/10.1186/s12889-018-5327-7" title="Beauclair et al 2018">[link]</a></span><br></p>
      <div class="testimonial-author">
        <img src="{{site.url}}/assets/img/scholars/beauclair.jpg" alt="Roxy Beauclair" class="pull-left">
        <span><span class="author-name">R Beauclair et al. 2018</span> <em>BMC Public Health</em></span>
      </div>
    </div>
    <div class="testimonial-body">
      <p>Host-seeking efficiency can explain population dynamics of the tsetse fly <em>Glossina morsitans morsitans</em> in response to host density decline. <span><a href="https://doi.org/10.1371/journal.pntd.0005730" title="Lord et al 2017">[link]</a></span><br></p>
      <div class="testimonial-author">
        <img src="{{site.url}}/assets/img/scholars/lord.jpg" alt="Jennifer Lord" class="pull-left">
        <span><span class="author-name">JS Lord et al. 2017</span> <em>PLOS Neglected Tropical Diseases</em></span>
      </div>
    </div>
    <div class="testimonial-body">
      <p>Resource-driven encounters and the induction of disease among consumers. <span><a href="http://rsif.royalsocietypublishing.org/content/14/135/20170555" title="Borchering et al 2017">[link]</a></span><br></p>
      <div class="testimonial-author">
        <img src="{{site.url}}/assets/img/team/borchering.jpg" alt="Rebecca Borchering" class="pull-left">
        <span><span class="author-name">RK Borchering et al. 2017</span> <em>Journal of the Royal Society Interface</em></span>
      </div>
    </div>
    <div class="testimonial-body">
      <p>A dynamic model for estimating adult female mortality from ovarian dissection data for the tsetse fly <em>Glossina pallidipes</em> Austen sampled in Zimbabwe. <span><a href="https://doi.org/10.1371/journal.pntd.0005813" title="Ackley and Hargrove 2017">[link]</a></span></p>
      <div class="testimonial-author">
        <img src="{{site.url}}/assets/img/scholars/ackley.jpg" alt="SF Ackley" class="pull-left">
        <span><span class="author-name">SF Ackley and JW Hargrove 2017</span> <em>PLoS Neglected Tropical Diseases</em></span>
      </div>
  </div>
    <div class="testimonial-body">
      <p>Impact of age and sex on CD4+ cell count trajectories following treatment initiation: an analysis of the Tanzanian HIV treatment database. <span><a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0164148" title="Means, Risher, Ujeneza et al 2016">[link]</a></span></p>
      <div class="testimonial-author">
        <img src="{{site.url}}/assets/img/team/ujeneza.jpg" alt="Eva Ujeneza" class="pull-left">
        <span><span class="author-name">A Means, K Risher, E Ujeneza et al. 2016</span> <em>PLOS ONE</em></span>
      </div>
  </div>
  <div class="testimonial-body">
    <p>CD4 cell count: Declining value for antiretroviral therapy eligibility. <span><a href="http://cid.oxfordjournals.org/content/early/2016/01/28/cid.civ1224.full" title="Ying et al 2016">[link]</a></span></p>
    <div class="testimonial-author">
      <img src="{{site.url}}/assets/img/scholars/ying.jpg" alt="Roger Ying" class="pull-left">
      <span><span class="author-name">R Ying et al. 2016</span> <em>Clinical Infectious Diseases</em></span>
    </div>
  </div>
  <div class="testimonial-body">
    <p>Spatial heterogeneity in projected leprosy trends in India. <span><a href="http://parasitesandvectors.biomedcentral.com/articles/10.1186/s13071-015-1124-7" title="Brook et al 2015">[link]</a></span><br></p>
    <div class="testimonial-author">
      <img src="{{site.url}}/assets/img/team/brook.jpg" alt="Cara Brook" class="pull-left">
      <span><span class="author-name">CE Brook et al. 2015</span> <em>Parasites and Vectors</em></span>
    </div>
  </div>
</div>
</section>
<!-- END OUTPUTS -->
