<!-- OUTPUTS (TESTIMONIAL) -->
<section class="testimonial slick-carousel" id="outputs">
  <div class="heading-center">
    <h2 class="section-heading">RECENT OUTPUTS</h2>
    <p class="lead">Publications, presentations, &amp; other products</p>
    <hr>
  </div>
  <div class="container testimonial-container">
    <div class="testimonial-body">
      <p>Reevaluating cumulative HIV-1 viral load as a prognostic predictor: predicting opportunistic infection incidence and mortality in a Ugandan cohort. <span><a href="#">[[PDF](http://aje.oxfordjournals.org/cgi/reprint/kwv303?
ijkey=KxcBzzl10c7eRVS&keytype=ref)]</a></span></p>
      <div class="testimonial-author">
        <img src="assets/img/SempaJB.jpg" alt="I3D Exchange Scholar Joseph Sempa" class="pull-left">
        <span><span class="author-name">JB Sempa et al. 2016</span> <em>The American Journal of Epidemiology</em></span>
      </div>
    </div>
    <div class="testimonial-body">
      <p>Spatial heterogeneity in projected leprosy trends in India.<br></p>
      <div class="testimonial-author">
        <img src="assets/img/BrookCE.jpg" alt="Cara Brook" class="pull-left">
        <span><span class="author-name">CE Brook et al. 2015</span> <em>Parasites and Vectors</em></span>
      </div>
    </div>
    <div class="testimonial-body">
      <p>Effects of resource density on encounter rates and disease outcomes.<br></p>
      <div class="testimonial-author">
        <img src="assets/img/BorcheringRK.jpg" alt="Rebecca Borchering" class="pull-left">
        <span><span class="author-name">RK Borchering et al. 2015</span> <em>Epidemics 5</em></span>
      </div>
    </div>
    <div class="testimonial-body">
      <p>Mortality estimates from ovarian age distributions of the tsetse fly Glossina pallidipes Austen sampled in Zimbabwe suggest the need for new analytical approaches.</p>
      <div class="testimonial-author">
        <img src="assets/img/HargroveJW.jpg" alt="I3D Exchange Scholar SF Ackley" class="pull-left">
        <span><span class="author-name">JW Hargrove and SF Ackley 2015</span> <em>Bulletin of Entomological Research</em></span>
      </div>
    </div>
  </div>
</section>
<!-- END OUTPUTS -->
