<!-- OUR PARTNERS -->
<section class="clients" id="partners">
  <div class="heading-center">
    <h2 class="section-heading">PARTNERS</h2>
    <p class="lead">Consortium institutions and institutional partners</p>
    <hr>
  </div>
  <div class="container">
    <ul class="list-inline list-client-logo" >
      <li>
       </li>
      <li>
        <a href="http://www.sacema.org/"><img src="{{site.url}}/assets/img/partners/SACEMA_228.png" title="SACEMA (Consortium Institution)" style="width:480px" /></a>
      </li>
      <li>
        <a href="http://www.midas.us/"><img src="{{site.url}}/assets/img/partners/MIDAS.png" title="MIDAS Coordinating Center (Consortium Institution)" style="height:100px"/></a>
      </li>
      <li>
      </li>
      {% if false %}
      <li>
        <a href="http://www.uga.edu/"><img src="{{site.url}}/assets/img/partners/UGA_228.png" title="University of Georgia (Consortium Institution)" style="width:480px"/></a>
      </li>
      {%endif%}
      <li>
       </li>
    </ul>
    <hr>
  </div>
  <div class="container">
    <ul class="list-inline list-client-logo" >
      <li>
        <a href="http://www.aims.ac.za/"><img src="{{site.url}}/assets/img/partners/AIMS-SA.jpg" title="AIMS-South Africa (Institutional Partner)" style="height:114px; width:567px"/></a>
      </li>
      <li>
        <a href="https://cema.africa/"><img src="{{site.url}}/assets/img/partners/CEMA_UN.png" title="CEMA (Institutional Partner)" style="height:114px; width:385px;" /></a>
      </li>
      <li>
       </li>
      {% if false %}
      <li>
        <a href="http://www.cidid.org/"><img src="{{site.url}}/assets/img/partners/CIDID_long.png" title="CIDID (Institutional Partner)" style="height:114px; width:385px;" /></a>
      </li>
      {%endif%}
    </ul>
    <hr>
  </div>
  <div class="container">
    <ul class="list-inline list-client-logo">
      {% if false %}
      <li>
        <a href="http://proctor.ucsf.edu/"><img src="{{site.url}}/assets/img/partners/Proctor.png" title="The Francis I. Proctor Foundation for Research in Ophthalmology (Institutional Partner)"/></a>
      </li>
      <li>
        <a href="http://www.ucsf.edu/"><img src="{{site.url}}/assets/img/partners/UCSF.png" title="University of California - San Francisco (Institutional Partner)" style="height:114px; width:175px"/></a>
      </li>
      {%endif%}
      <li>
        <a href="http://www.colby.edu/"><img src="{{site.url}}/assets/img/partners/Colby.png" title="Colby College (Institutional Partner)" /></a>
      </li>
      <li>
        <a href="http://www.mcmaster.ca/"><img src="{{site.url}}/assets/img/partners/McMaster.jpg" title="McMaster Univeristy (Institutional Partner)" style="height:114px; width:206px"/></a>
      </li>
      <li>
        <a href="http://www.psu.edu/"><img src="{{site.url}}/assets/img/partners/PSU.png" title="Pennsylvania State Univeristy (Institutional Partner)" style="height:114px"/></a>
      </li>
      {% if false %}
      <li>
        <a href="http://www.ufl.edu/"><img src="{{site.url}}/assets/img/partners/UF.png" title="University of Florida (Institutional Partner)" /></a>
      </li>
      {%endif%}
    </ul>
  </div>
</section>
<!-- END OUR PARTNERS -->
