<!-- OUR PARTNERS -->
<section class="clients" id="partners">
  <div class="heading-center">
    <h2 class="section-heading">PARTNERS</h2>
    <p class="lead">Consortium institutions and institutional partners</p>
    <hr>
  </div>
  <div class="container">
    <ul class="list-inline list-client-logo" >
      <li>
        <a href="http://www.ufl.edu/"><img src="assets/img/partners/UF.png" title="University of Florida (Consortium Institution)" /></a>
      </li>
      <li>
        <a href="http://www.sacema.org/"><img src="assets/img/partners/SACEMA.jpg" title="SACEMA (Consortium Institution)" /></a>
      </li>
      <li>
        <a href="http://www.aims.ac.za/"><img src="assets/img/partners/AIMS-SA_114.png" title="AIMS-South Africa (Institutional Partner)" /></a>
      </li>
      <li>
        <a href="http://www.cidid.org/"><img src="assets/img/partners/CIDID_114.png" title="CIDID (Institutional Partner)"/></a>
      </li>
    </ul>
  </div>
</section>
<!-- END OUR PARTNERS -->
