{% assign key = page.relative_path | split: '/' | last | split: '.' | first %}
{% assign person = site.data.team[key] %}

<div class="col-md-10 col-md-offset-1">
  <div class="team-member media" style="font-size:18px">
    <img src="{{site.url}}{{site.path}}/assets/img/{{person.img}}" class="media-object img-circle pull-left" alt="{{ person.name }}" height="140" />
    <div class="media-body">
      <h3 class="media-heading team-name">{{ person.name }}</h3>
      <strong>{{ person.role }}</strong>
      <hr class="pull-left">
      <div class="clearfix"></div>
      {% if person.type contains "i3d"%}
      <p style="font-size:14px"><b>Project:</b> {{person.project}}
      <br><b>Host:</b> {{person.mentor}}, {{person.host}}
      <br><b>Current position:</b> {{person.position}}, {{person.affiliation}}</p>
      {% else %}
      <p style="font-size:14px"> <b>{{ person.position }}<br>{{ person.affiliation }}</b></p>
      <p style="font-size:14px">
      {% for dd in person.degrees %}
        <em>{{ dd.degree }} in {{ dd.discipline }}, {{ dd.institution }} ({{ dd.year }})</em><br>
      {% endfor %}
      </p>
      <p style="font-size:14px"><b>About:</b> {% if person.bio contains "" %}{{ person.bio }}{% else %}{{ person.summary }}{% endif %}</p>
      {% endif %}
      {% if person.outputs.size > 0 %}
      <h4> Output{% if person.outputs.size > 1 %}s{% endif %}:</h4>
      {% for pp in person.outputs %}
      <p style="font-size:14px">{{ pp.authors }}. ({{ pp.year }}) <a href="{{ pp.link }}">{{ pp.title }}</a>. <em>{{ pp.journal }}</em></p>
      {% endfor %}
      {% endif %}
      {% if person.papers.size > 0 %}
      <h4> Selected publication{% if person.papers.size > 1 %}s{% endif %}:</h4>
      {% for pp in person.papers %}
      <p style="font-size:14px">{{ pp.authors }}. ({{ pp.year }}) <a href="{{ pp.link }}">{{ pp.title }}</a>. <em>{{ pp.journal }}</em></p>
      {% endfor %}
      {% endif %}
      {% if person.icons == "yes" %}
      <ul class="list-inline social-icon">
        {%if person.gscholar contains ""%}
        <li><a href="https://scholar.google.com/citations?user={{ person.gscholar }}"><i class="ai ai-google-scholar" style="font-size:28px"></i></a></li>
        {%endif%}
        {%if person.twitter contains ""%}
        <li><a href="https://twitter.com/{{ person.twitter }}"><i class="fa fa-twitter" style="font-size:30px"></i></a></li>
        {%endif%}
        {%if person.linkedin contains ""%}
        <li><a href="https://za.linkedin.com/in/{{ person.linkedin }}"><i class="fa fa-linkedin" style="font-size:30px"></i></a></li>
        {%endif%}
        {%if person.orcid contains ""%}
        <li><a href="http://orcid.org/{{ person.orcid }}"><i class="ai ai-orcid" style="font-size:30px"></i></a></li>
        {%endif%}
        {%if person.impactstory contains ""%}
        <li><a href="https://impactstory.org/u/{{ person.impactstory }}"><i class="ai ai-impactstory" style="font-size:30px"></i></a></li>
        {%endif%}
        {%if person.github contains ""%}
        <li><a href="https://github.com/{{ person.github }}"><i class="fa fa-github" style="font-size:30px"></i></a></li>
        {%endif%}
        {%if person.website contains ""%}
        <li><a href="{{ person.website }}"><i class="fa fa-globe" style="font-size:30px"></i></a></li>
        {%endif%}
        {%if person.cv contains ""%}
        <li><a href="{{ person.cv }}"><i class="fa fa-file" style="font-size:26px"></i></a></li>
        {%endif%}
      </ul>
      {% endif %}
  </div><!-- media-body -->
</div><!-- team-member media -->
</div><!-- col-md-5 col-md-offset-2 -->
