<div class="col-md-10 col-md-offset-1">
  <div class="team-member media" style="font-size:18px">
    <img src="{{site.url}}/assets/img/{{page.img}}" class="media-object img-circle pull-left" alt="{{ page.name }}" height="140" />
    <div class="media-body">
      <h3 class="media-heading team-name">{{ page.name }}</h3>
      <strong>{{ page.role }}</strong>
      <hr class="pull-left">
      <div class="clearfix"></div>
      {% if page.type contains "i3d"%}
      <p style="font-size:14px"><b>Project:</b> {{page.project}}
      <br><b>Host:</b> {{page.mentor}}, {{page.host}}
      <br><b>Current position:</b> {{page.position}}, {{page.affiliation}}</p>
      {% else %}
      <p style="font-size:14px"> <b>{{ page.position }}<br>{{ page.affiliation }}</b></p>
      <p style="font-size:14px">
      {% for dd in page.degrees %}
        <em>{{ dd.degree }} in {{ dd.discipline }}, {{ dd.institution }} ({{ dd.year }})</em><br>
      {% endfor %}
      </p>
      <p style="font-size:14px"><b>About:</b> {% if page.bio contains "" %}{{ page.bio }}{% else %}{{ page.summary }}{% endif %}</p>
      {% endif %}
      {% if page.outputs.size > 0 %}
      <h4> Output{% if page.outputs.size > 1 %}s{% endif %}:</h4>
      {% for pp in page.outputs %}
      <p style="font-size:14px">{{ pp.authors }}. ({{ pp.year }}) <a href="{{ pp.link }}">{{ pp.title }}</a>. <em>{{ pp.journal }}</em></p>
      {% endfor %}
      {% endif %}
      {% if page.papers.size > 0 %}
      <h4> Selected publication{% if page.papers.size > 1 %}s{% endif %}:</h4>
      {% for pp in page.papers %}
      <p style="font-size:14px">{{ pp.authors }}. ({{ pp.year }}) <a href="{{ pp.link }}">{{ pp.title }}</a>. <em>{{ pp.journal }}</em></p>
      {% endfor %}
      {% endif %}
      {% if page.icons == "yes" %}
      <ul class="list-inline social-icon">
        {%if page.gscholar contains ""%}
        <li><a href="https://scholar.google.com/citations?user={{ page.gscholar }}"><i class="ai ai-google-scholar" style="font-size:28px"></i></a></li>
        {%endif%}
        {%if page.twitter contains ""%}
        <li><a href="https://twitter.com/{{ page.twitter }}"><i class="fa fa-twitter" style="font-size:30px"></i></a></li>
        {%endif%}
        {%if page.linkedin contains ""%}
        <li><a href="https://za.linkedin.com/in/{{ page.linkedin }}"><i class="fa fa-linkedin" style="font-size:30px"></i></a></li>
        {%endif%}
        {%if page.orcid contains ""%}
        <li><a href="http://orcid.org/{{ page.orcid }}"><i class="ai ai-orcid" style="font-size:30px"></i></a></li>
        {%endif%}
        {%if page.impactstory contains ""%}
        <li><a href="https://impactstory.org/u/{{ page.impactstory }}"><i class="ai ai-impactstory" style="font-size:30px"></i></a></li>
        {%endif%}
        {%if page.github contains ""%}
        <li><a href="https://github.com/{{ page.github }}"><i class="fa fa-github" style="font-size:30px"></i></a></li>
        {%endif%}
        {%if page.website contains ""%}
        <li><a href="{{ page.website }}"><i class="fa fa-globe" style="font-size:30px"></i></a></li>
        {%endif%}
        {%if page.cv contains ""%}
        <li><a href="{{ page.cv }}"><i class="fa fa-file" style="font-size:26px"></i></a></li>
        {%endif%}
      </ul>
      {% endif %}
  </div><!-- media-body -->
</div><!-- team-member media -->
</div><!-- col-md-5 col-md-offset-2 -->
