<div class="team-member media" style="font-size:18px">
  <img src="{{site.url}}{{site.path}}/assets/img/{{page.img}}" class="media-object img-circle pull-left" alt="{{ page.name }}" height="115" />
  <div class="media-body">
    <h3 class="media-heading team-name">{{ page.name }}</h3>
    <strong>{{ page.topic }}</strong>
    <hr class="pull-left">
    <div class="clearfix"></div>
    <p style="font-size:14px"> {{ page.session }}</p>
    <p style="font-size:14px"><b>Abstract:</b> {{ page.abstract }}</p>
    <p style="font-size:14px"><b>About:</b> {{ page.bio }}</p><br>
</div><!-- media-body -->
</div><!-- team-member media -->
