<!-- BOXED CONTENT -->
<section>
  <div class="heading-center" id="upcoming">
    <h2 class="section-heading">UPCOMING EVENTS</h2>
    <p class="lead">Application required</p>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <!---div class="col-md-6">
        <div class="boxed-content">
          <h4 id="mmed">Clinic on Software Engineering for the Applied Mathematical Sciences</h4>
          <img class="img-circle" src="{{ site.absoluteurl }}{{ site.baseurl }}/images/protea.jpg" alt="Western Cape" style="width: 180px; height: 180px;">
          <br><br>
          <p>Annually in South Africa, Kenya, or Rwanda</p>
          <h2><a href="{{ site.absoluteurl }}{{ site.baseurl }}/seams/" title="SEAMS">SEAMS</a></h2>
          <a href="{{ site.absoluteurl }}{{ site.baseurl }}/seams/" class="btn btn-primary btn-outline btn-rounded-2x">View details &raquo;</a>
        </div>
      </div--->
      <div class="col-md-6">
        <div class="boxed-content">
          <h4 id="mmed">Clinic on the Meaningful Modeling of Epidemiological Data</h4>
          <img class="img-circle" src="{{ site.absoluteurl }}{{ site.baseurl }}/images/cape.jpg" alt="Western Cape" style="width: 180px; height: 180px;">
          <br><br>
          <p>Annually in Cape Town, South Africa<br>Upcoming clinic: 26 June - 8 July, 2023</p>
          <h2><a href="{{ site.absoluteurl }}{{ site.baseurl }}/mmed/" title="MMED">MMED</a></h2>
          <a href="{{ site.absoluteurl }}{{ site.baseurl }}/mmed/" class="btn btn-primary btn-outline btn-rounded-2x">View details &raquo;</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="boxed-content">
          <h4 id="daidd">Clinic on Dynamical Approaches to Infectious Disease Data</h4>
          <img class="img-circle" src="{{ site.absoluteurl }}{{ site.baseurl }}/images/protea.jpg" alt="DAIDD" style="width: 180px; height: 180px;">
          <br><br>
          <p>Annually in December, Virtual on Microsoft Teams<br>Upcoming clinic: Dates TBA</p>
          <h2><a href="{{ site.absoluteurl }}{{ site.baseurl }}/daidd/" title="DAIDD">DAIDD</a></h2>
          <a href="{{ site.absoluteurl }}{{ site.baseurl }}/daidd/" class="btn btn-primary btn-outline btn-rounded-2x">View details &raquo;</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END BOXED CONTENT -->
