
<div class="container marketing"  align="center">
      <!-- Three columns of text below the carousel -->
      <div class="row">
          <div class="col-lg-6">
            <h3 id="clinic-on-the-meaningful-modeling-of-epidemiological-data-mmedhttpici3dgithubiommed-mmed">Clinic on the Meaningful Modeling of Epidemiological Data</h3>
              <img class="img-circle" src="{{ site.absoluteurl }}{{ site.baseurl }}/images/cape.jpg" alt="Western Cape" style="width: 180px; height: 180px;">
              <h2><a href="{{ site.absoluteurl }}{{ site.baseurl }}/mmed/" title="MMED">MMED</a></h2>
              <p>May-June 2016, Cape Town, South Africa</p>
              <p><a class="btn btn-default" href="{{ site.absoluteurl }}{{ site.baseurl }}/mmed/" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
              <h3 id="clinic-on-dynamical-approaches-to-infectious-disease-data-daiddhttpici3dgithubiodaidd-daidd">Clinic on Dynamical Approaches to Infectious Disease Data</h3>
              <img class="img-circle" src="{{ site.absoluteurl }}{{ site.baseurl }}/images/gator.jpg" alt="DAIDD" style="width: 180px; height: 180px;">
              <h2><a href="{{ site.absoluteurl }}{{ site.baseurl }}/daidd/" title="DAIDD">DAIDD</a></h2>
              <p>December 2016, Florida, USA</p>
              <p><a class="btn btn-default" href="{{ site.absoluteurl }}{{ site.baseurl }}/daidd/" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
</div><!-- /.container -->
