/* your custom styles here */
.hero-unit-fullscreen .overlay {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #15378a;
}
.hero-unit-fullscreen .container {
    position: relative;
    top: -10%;
}

.shadow {
  display: none;
}

.shadow-show {
  padding-left: 5px;
  padding-right: 5px;
  color: #fff;
  background-color: #7B7B7B;
}

.shadow-show a:link {
  color: #93CCFF;
}