<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="2;url={{ site.applinkt }}">
        <script type="text/javascript">
            window.location.href = "{{ site.applinkt }}"
        </script>
        <title>Page Redirection</title>
    </head>
    <body>
        <!-- Note: don't tell people to `click` the link, just tell them that it is a link. -->
        If you are not redirected automatically, follow <a href='{{ site.applinkt }}'>this link</a>.
    </body>
</html>
