<!DOCTYPE html>
<html lang="en" class="fullscreen">
{%include head.html%}
  <body>
	<!-- WRAPPER -->
	 <div class="wrapper">
     {%include navbar.html%}
     {%include clinicNavbar.html%}
     {%include header.html%}
     {% include alert alerttype=page.alerttype alertmsg=page.alertmsg %}
     <!-- PAGE CONTENT -->
 		<div class="page-content">
 			<div class="container">
        <h1><span style="color: #15378a">{{page.subtitle}}</span></h1>
        {% if page.archive == true %}
          <blockquote>
            <p>
              This is an archived version of the schedule from the {{page.title}} clinic{% if page.summary 
contains ""%} ({{page.summary}}){% endif %}. Some links may not work at this time.
            </p>
          </blockquote>
        {% endif %}

         {{ content }}
       </div>
     </div>
     <!-- END PAGE CONTENT -->
         {% include footer.html %}
    </div>
    <!-- END WRAPPER -->
    <!-- JAVASCRIPTS -->
    {% include jsblock.html %}

  </body>
</html>
