<!DOCTYPE html>
<html lang="en" class="fullscreen">
{%include head.html%}
  <body>
	<!-- WRAPPER -->
	 <div class="wrapper">
     {%include navbar.html%}
     {%include hero.html%}
     {%include mission.html%}
     <!-- PAGE CONTENT -->
 		<div class="page-content">
 			<div class="container">
         {{ content }}
         {% include outputs.html %}
         {% include partners.html %}
       </div>
     </div>
     <!-- END PAGE CONTENT -->
         {% include contact.html %}
         {% include footer.html %}
    </div>
    <!-- END WRAPPER -->
    <!-- JAVASCRIPTS -->
    {% include jsblock.html %}

  </body>
</html>
