<!DOCTYPE html>
<html lang="en" class="fullscreen">

{%include head.html%}
<body>
	<!-- WRAPPER -->
	<div class="wrapper">
{%include navbar.html%}
{%include hero.html%}
<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer">
  <section id="main_content" class="inner">
{{ content }}
  </section>
</div>

{% include footer.html %}

</div></body></html>
