<!DOCTYPE html>
<html lang="en" class="fullscreen">
{%include head.html%}
  <body>
	<!-- WRAPPER -->
	 <div class="wrapper">
     {%include navbar.html%}
     {%include header.html%}
     {% if page.alertmsg contains "" %}
        <div class="alert alert-{{page.alerttype}} alert-dismissible" role="alert">
          							<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <div class="container padding-left=0px padding-right=0px">
            <p style="font-size:16px; margin:0px">
              {{ page.alertmsg }}
            </p>
        </div>
      </div>
     {%endif%}
     <!-- PAGE CONTENT -->
 		<div class="page-content">
 			<div class="container">
         {{ content }}
       </div>
     </div>
     <!-- END PAGE CONTENT -->
         {% include contact.html %}
         {% include footer.html %}
    </div>
    <!-- END WRAPPER -->
    <!-- JAVASCRIPTS -->
    {% include jsblock.html %}

  </body>
</html>
