<!DOCTYPE html>
<html>
{%include head.html%}
<body>
{%include header.html%}
    <div class="wrapper">
      <nav>
        <ul></ul>
      </nav>
    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {% if page.alertmsg contains "" %}
                <div class="alert alert-{{page.alerttype}}" role="alert">
                    {{ page.alertmsg }}
                </div>
        {%endif%}
        {{content}}
      </section>
    </div>
{%include footer.html %}
</body>
</html>
