<!DOCTYPE html>
<html lang="en" class="fullscreen">
{%include head.html%}
  <body>
	<!-- WRAPPER -->
	 <div class="wrapper">
     {%include navbar.html%}
     {%include clinicNavbar.html%}
     {%include header.html%}
      {% include alert alerttype=page.alerttype alertmsg=page.alertmsg %}
     <!-- PAGE CONTENT -->
 		<div class="page-content">
 			<div class="container">
        <h1><span style="color: #15378a">{{page.subtitle}}</span></h1>
        {% include talk.html %}
         {{ content }}
       </div>
     </div>
     <!-- END PAGE CONTENT -->
         {% include footer.html %}
    </div>
    <!-- END WRAPPER -->
    <!-- JAVASCRIPTS -->
    {% include jsblock.html %}
  </body>
</html>
